/*
RalewayEL
Raleway
*/

.display-flex{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;  
}

.justify-center{
  justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
}

.align-center{
  align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;   
}

.home-view-header{
  background: rgba(45, 56, 62, 1);
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 30px;
  color: #FFF;
  font: 30px/18px Raleway;
}

.home-view.content{
  width: 100%;
}

.filter-col{
  cursor: pointer;
  min-width: 70px;
}

.post-col{
  padding: 0px 20px;
  width: 750px;
  cursor: pointer;
}

.sort-col{
  cursor: pointer;
  min-width: 180px;
}

.selectedOption{
  border-bottom: 2px solid #b3c3d8;
}

.category-item, .sort-item{
  font: 20px/20px RalewayEL;
  padding-top: 10px; 
}

.overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.2);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
