/*
RalewayEL
Raleway
*/

.display-flex{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;  
}

.justify-center{
  justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
}

.align-center{
  align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;   
}

.home-view-header{
  background: rgba(45, 56, 62, 1);
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 30px;
  color: #FFF;
  font: 30px/18px Raleway;
}

.home-view.content{
  width: 100%;
}

.filter-col{
  cursor: pointer;
  min-width: 70px;
  padding-right: 20px;    
}

.post-col{
  border: 1px solid rgba(45, 56, 62, 0.2);
  width: 750px;
  cursor: pointer;
}

.sort-col{
  cursor: pointer;
  min-width: 180px;
  padding-left:20px;  
}

.selectedOption{
  border-bottom: 2px solid #b3c3d8;
}

.category-item, .sort-item{
  font: 20px/20px Raleway;
  padding-top: 10px; 
}

.right-align{
  text-align: right;
}

.add-icon{
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.post-item{
  background: rgba(243, 239, 225, 0.34);
  border-bottom: 2px solid #FFF;
}
.post-wrapper{
  padding: 10px;
  font: bolder 15px/25px Raleway;  
}
.post-title{
  font: bolder 25px/35px RalewayEL;    
}

.overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.2);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
